{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div id="dashboard-header">
        <h1>Witaj, {{ user_name }}! Twoja rola w systemie to {{ user.get_user_role_display }}.</h1>
        <a class="reg-log-button" href="http://127.0.0.1:8000/logout/"><button>Wyloguj się</button></a>
    </div>
<div id = "main-content">
  <h2>Zamówienie numer {{ order.id }}</h2>
    <div class="details">
  <h4>Adres dostawy: {{ order.delivery_address }}</h4>
  <h4>Data i godzina zamówienia {{ order.created_on|date:'d-m-Y H:i:s' }}</h4>
  <h4>Kwota zamówienia {{ order.price }}</h4>
    </div>
<div id="awaiting-orders-container">

</div>
<div id="order-details">
    <div id="add-review-form"></div>
    {% if is_reviewed == True %}
      <h4>Twoja opinia</h4>
      <p>Ocena restauracji: {{ review.get_restaurant_rate_display }}</p>
      <p>Szczegóły: {{ review.restaurant_rate_desc }}</p>
      <p>Ocena dostawcy: {{ review.get_supplier_rate_display }}</p>
      <p>Szczegóły: {{ review.supplier_rate_desc }}</p>
    {% else %}
      <form method="post" class="box">
            <h3>Twoja opinia dotycząca zamówienia</h3>
            </br> 
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: #ff0000">{{ error }}</p>
                {% endfor %}
              </p>
              
            {% endfor %}
          <a class="reg-log-button"><button type="submit">Zapisz</button></a>
      </form>
      {% endif %}
      <a class="reg-log-button" href="/dashboard/order/{{ order.id }}"><button>Powrót</button></a>
    </div>
  {% if order.restaurant_acceptance == 'accepted' %}
        <div id="chat-container">
        </div>
    {% endif %}
    <div id="chat-container">
    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script>
    var url = 'ws://' + window.location.host + '/ws/dashboard/order/' + "{{ order.id }}" + '/';
    var chatSocket = new WebSocket(url);
    var $chat = $('#chat-output');
    var dateOptions = { day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour24: true};
    "{% for mess in messages %}"
        var x = "{{ mess }}".split(' ');
        joined_message = '';
          for (let i = 3; i < x.length; i++) {
            joined_message = joined_message + ' ' + x[i];
        }
        if(x[0]=="{{ user.username }}"){
            date = Date.parse(x[2]);
            var datetime = moment(date).format("DD-MM-YYYY HH:mm:ss")
            $chat.append('<div class="message-me">' +
                 '<div class="message-me-content">' +
                 '<strong>' + "Ja" + '</strong> ' +
                 '<span class="date">' + datetime + '</span><br>' +
                 '<p class="message">' + joined_message + '</p>' +
                 '</div>' +
                 '</div>');
        }
        else {
            let nickname = '';
            if (x[0] == "{{ supplier_name }}") {
              nickname = 'Dostawca';
            }
            else if (x[0] == "{{ restaurant_owner_name }}") {
              nickname = 'Restaurator';
            }
            date = Date.parse(x[2]);
            var datetime = moment(date).format("DD-MM-YYYY HH:mm:ss")
            $chat.append('<div class="message-other">' +
                 '<div class="message-other-content">' +
                 '<strong>' + nickname + '</strong> ' +
                 '<span class="date">' + datetime + '</span><br>' +
                 '<p class="message">' + joined_message + '</p>' +
                 '</div>' +
                 '</div>');
        }
        $chat.scrollTop($chat[0].scrollHeight);
    "{% endfor %}"

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        var message = data.message;
        var dateOptions = { day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true};
        //var datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
        var datetime = moment(data.datetime).format("DD-MM-YYYY HH:mm:ss")
        var isMe = data.user === '{{ request.user }}';
        var source = isMe ? 'me' : 'other';
        var name = isMe ? 'Ja' : data.user;

        $chat.append('<div class="message-' + source + '">' +
                 '<div class="message-' + source + '-content">' + 
                 '<strong>' + name + '</strong> ' +
                 '<span class="date">' + datetime + '</span><br>' +
                 '<p class="message">' + message + '</p>' +
                 '</div>' +
                 '</div>');
        $chat.scrollTop($chat[0].scrollHeight);
        };

    chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
    };

    var $input = $('#chat-input');
    var $submit = $('#chat-submit');

    $submit.click(function() {
        var message = $input.val();
        if(message) {
          chatSocket.send(JSON.stringify({'message': message}));
          $input.val('');
          $input.focus();
        }
    });

    $input.focus();
    $input.keyup(function(e) {
    if (e.which === 13) {
      $submit.click();
    }
  });
</script>

</body>
</html>