{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script rel="text/javascript" src="{% static 'js/app.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  {% block content %}
    <div id="dashboard-header">
        <h1>Witaj, {{ user_name }}! Twoja rola w systemie to {{ user.get_user_role_display }}.</h1>
        <a class="reg-log-button" href="http://127.0.0.1:8000/logout"><button>Wyloguj się</button></a>
    </div>
    <div id="main-container">
      <div id="restaurants-details-container">
          <div id="restaurants-details">
              <h1><h1>Restauracja {{ restaurant.name }}</h1></h1>
          <p><b>Rodzaj kuchni:</b> {{ restaurant.get_category_display }}</p>
          <p><b>Adres:</b> {{ restaurant.address_street }}, {{ restaurant.address_city }}, {{ restaurant.address_postalcode }}</p>
          <p><b>Opis:</b> {{ restaurant.description }}</p>
      </div>
      </div>
      <div id="restaurant-dishes-container">
      <div id="restaurant-dishes">
        <form method="POST">
          {% csrf_token %}
          <h3>Dania serwowane w restauracji</h3>
          <div id="cart">
            <p>Suma: </p><p id="cart-value"></p>
          </div>
          <table id="dishes-table">
            <tr>
              <th>Nazwa dania</th>
              <th>Opis potrawy</th>
              <th>Składniki</th>
              <th>Alergeny</th>
              <th>Cena</th>
            </tr>
            {% for dish in dishes %}
            <tr>
              <td>{{ dish.name }}</td>
              <td>{{ dish.description}}</td>
              <td>{{ dish.ingredients }}</td>
              <td>{{ dish.alergens}}</td>
              <td id="price-btn-add-{{ forloop.counter0 }}">{{ dish.price}}</td>
              <td><input type="checkbox" name="items[]" class="form-check-button" value="{{ dish.id }}"></td>
            </tr>
            {% endfor %}
          </table>
          <div>
          </br>
            <p>Podaj adres dostawy</p>
            <input type="text" size="50" id="delivery_address" name ="delivery_address" vaue= {{ delivery_address }}>
          </div>
          </br>
          <button class="reg-log-button" name="order-button">Zamów</button>
        </form>
      </div>
      </div>
    </div>
    </div>

    {% endblock %}

</body>
<script src="{% static 'app.js' %}"></script>
</html>
